* {
   box-sizing: border-box;
}
:root{
        --color: #d14343;
}   
body{
    width:100%;
    background: #F2F2CB;
    background: -moz-linear-gradient(-45deg, #F2F2CB 0%, #99A49F 50%, #445245 100%);
    background: -webkit-linear-gradient(-45deg, #F2F2CB 0%, #99A49F 50%, #445245 100%);
    background: linear-gradient(135deg, #F2F2CB 0%, #99A49F 50%, #445245 100%);
    color:white ;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    align-items: center;
}
#wrapper{
    width:90%;
    margin:auto;
}
/* #wrapper>*:not(header){
    background-color: black;
} */
/* DEBUT Généralités  */

.bor_col{
    border-color: var(--color);
}
.bold{
    font-weight: bold;
}
.courante{
    padding:1em 10em;
}
a{
    text-decoration: none;
}
.more{
    border: solid 2px;
    padding:0.5em 1em;
    border-color: var(--color);
}
.text_white{
    color:white;
}
.flex{
    display:flex;
}
.flex>*{
    flex :1;
}
section:nth-child(even){
    background-color: white;
    color:black;
}
.backgimg{
    height:40vw ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;  
}
.BackgDisplay h2{
    padding-top:2em;
    line-height: 2em;
    font-size: 2em;
    text-align: center;
}
.BackgDisplay p{
    margin:1em;
    margin-bottom: 2em;
    line-height: 1.5em;
}
.sameDisplay h2{
    padding-top:0;
    line-height: 2em;
    font-size: 2em;
    text-align: center;
}
.butt2{
    background-color: black;
}
button{
    width:100px;
    color:white; 
}
.trait_colorSec7{
    width :50px;
    height:4px;
    margin-bottom: 2em; 
}
.trait_color{
    width :100px;
    height:4px;
    margin:auto;
    margin-top:-2em;
    margin-bottom: 2em; 
}

/* FIN Généralités  */

/* DEBUT Goutte  */
#goutte{
    position:fixed;
    top:200px;
    cursor: pointer;
}
#drop_color{
    display:none;
    height:50px;
    width:50px;
    border: none;
    color:white
}
/* FIN Goutte  */

/* DEBUT Header*/
header{
    height:100px;
}
/* #sticky{
    width: 100%;
    position:fixed;
    height:100px;
    z-index: 2;
} */
.retour{
    flex:3;
}
#burger{
    flex:7;
}
h1{
    display:none;
}
#logo{
    height:70px;
}
#nav1, #nav2{
    margin-top: 18px;
    display:flex;
    /* flex-direction: column; */
    justify-content: space-between;
}
#nav1 a, #nav2 a{
    color: white;
}
#nav1 a:hover, #nav2 a:hover{
   border-bottom: 2px solid var(--color);
   padding-bottom: 0.5em;
}
/* .courante:not(#section3){
    padding:1em 8em;
} */


/* DEBUT menu burger*/
#burger, #burger-content{
    display:inline;
}
#burger_button{
    display: none;
    cursor:pointer;
    background: none;
    border:none;
    font-size: 30px;
    padding:0;
    vertical-align: top;
    line-height: 47px;
    float: right;
    margin-right: 32px;
}
#burger_overlay{
    display: none;
    position:fixed;
    z-index: 2;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}
#burger_sidebar{
    display:none;
    position:fixed;
    width:50%;
    z-index: 3;
    height: 100%;
    top:0;
    left:0;
    background: #F2F2CB;
    background: -moz-linear-gradient(-45deg, #F2F2CB 0%, #99A49F 50%, #445245 100%);
    background: -webkit-linear-gradient(-45deg, #F2F2CB 0%, #99A49F 50%, #445245 100%);
    background: linear-gradient(135deg, #F2F2CB 0%, #99A49F 50%, #445245 100%);
    transform: translateX(-100%);
    transition: transform 0.2s ease-out;
}
#burger_sidebar #nav1{
    display:flex;
    flex-direction: column;
}
#burger_sidebar #nav1 a:hover{
    border-bottom: 2px solid var(--color);
    width:200px;
    padding-bottom: 0;
 }
#burger_sidebar_header{
    background: url(../Photo/wenzhe-zhu-2-burger.jpg) center;
    background-size: cover;
    height:200px;
}
#burger_sidebar_body{
    padding:16px 8px;
    display: flex;
    flex-direction: column;
}
#burger_sidebar_body a:before{
    content:" ";
    display: inline-block;
    vertical-align: middle;
    width:24px;
    height:24px;
    margin-right: 16px;
    margin-bottom: 4px;
}
#burger_sidebar_body a:before{
    background-image: url(../Photo/icone_titan2.jpg);
    background-size: cover;
    height: 25px;
}
#burger_sidebar_body .button{
    float:none;
    display: block;
    text-align: center;
    margin-top: 16px;
    height:auto;
    padding:10px;
    line-height: inherit;
}

/* FIN menu burger*/
/* FIN Header*/

/* DEBUT section 1*/
#section1{
    background-image: url(../Photo/pixel-motron-lastsupper-animecrossover-by-pixelmotron.jpg);
}
/* FIN section 1*/

/* DEBUT section 2*/
#section2{
    height:400PX;
}
.icone{
    display: flex;
    margin-top: 1em;
}
.icone>div{
    margin-left: 1em;
}
.icone dd{
    margin:0;
}
.ic{
    font-size: 32px;
    /* color:red; */
}
dt {
    font-weight: 700;
}
#accordion{
    padding:1em;
}
.accordion{
    border: 1px solid #aaa;
    margin-bottom: 1em;
    padding: 0 2em;
}
.accordion:not(:first-child) p{
    display: none;
}
.accordion .fas{
    margin-left: -1.5em;
    margin-right: 0.5em;
}
.accordion h4, .accordion p{
    margin: 0.8rem 0;
}
/* FIN section 2*/

/* DEBUT section 3  */
#section3{
    background-color: white;
}
#portfolio{
    flex-wrap: wrap;
    margin: 0;
}
#portfolio figure{
    flex: 1 0 25%;
    margin: 0;
    height: 200px;
    width: 25%;
}
#portfolio figure img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/* Debut modal image*/
/* Sepia */
.myFig_Img{
	-webkit-filter: sepia(80%);
    filter: sepia(80%);
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .6s ease-in-out;
	transition: .6s ease-in-out;
}
.myFig_Img:hover{
    z-index: 1;
	-webkit-filter: sepia(0);
    filter: sepia(0);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    /* margin-left: -20px; */
}
.myFig_Img:hover .hidden{
    display: block;
}
.hidden{
    display: none;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    opacity: 0.8;
}

/* .myImg{
    cursor: pointer;
    transition: 0.3s;
}
.myImg:hover {
    opacity: 0.7;
} */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
} 
  /* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
} 
  /* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
} 
  /* Add Animation */
.modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
} 
@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
} 
  /* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
  
.close:hover,.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
/* FIN modal image*/

/*DEBUT Tri Portfolio*/
#tri_lien{
    display:flex;
    justify-content: space-between;
}
#tri{
    width:40%;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#tri a{ 
    color: black;
    padding: 0.5em 0;
    cursor:pointer;
}
#tri a:hover{
    color:var(--color);
}
/* FIN Tri Portfolio*/

/* FIN Section 3  */

/* DEBUT Section 4*/
/* DEBUT TESTIMONIALS*/
#section4{
    height:900PX;
}
.client_lambda{
    display: flex;
    align-items: flex-start;
    padding: 2em 0;
    border-bottom: 1px solid #aaa; 
}
.client_lambda:last-of-type{
    border:none;
}
.client_lambda img{
    height: 5em;
    margin: 0 1em 0 0;
}
.client_lambda:nth-child(even){
    flex-direction: row-reverse;
    text-align: right;
}
.client_lambda:nth-child(even) img{
    margin: 0 0 0 1em;
}
blockquote{
    margin: 0;
}
blockquote p{
    font-style: oblique;
    font-size: 1.5em;
    margin-top: 0;
}
#section4>p:last-of-type{
    text-align: center;
}
/* #section4>p{
    text-align: center;
} ou alors cette ecriture vu que un seul p parent direct */

/*FIN TESTIMONIALS*/
/*FIN Section 4 Fin TESTIMONIALS*/

/*DEBUT Section 5*/
#section5{
    background-image: url(../Photo/j-espinosa-p-fan-art-titan-bestia-j-espinosap.jpg);
    background-attachment: fixed;
}
.color{
    color:var(--color);
}
.backg_color{
    background-color: var(--color);
}

/*DEBUT Contact Form*/
form{
    width:100%;
    align-content: space-around;
}
.form{
    display:flex;
    flex-direction: column;
}
.inputform, textarea{
    width:95%;
    background-color: rgb(206, 206, 206);
    margin-bottom: 1.5em;
}
.inputform, button{
    height:2em;
    cursor: pointer;
}
textarea{
    height:7.5em;
    cursor: pointer;
}
label{
    margin-bottom: 0.5em;
}
/*FIN Contact Form*/

/*DEBUT Section 7*/
#section7{
    background-color: black;
}

/*DEBUT MEDIA SCREEN*/
@media screen and (max-width:375px){
    #wrapper{
        width:100%;
        align-items: center;
    }
    #burger_content{
        display: none;
    }
    #burger_button, #burger_sidebar,
    .burger_activated #burger_overlay{
        display: block;
    }
    .burger_activated #burger_sidebar{
        transform:translateX(0);
    }
    .modal-content {/* 100% Image Width on Smaller Screens */
        width: 100%;
    }
    .flex{
      display: block;
    }
    .courante{
        padding:0.5em;
    }
    #section2{
        height:700px;
    }
    .backgimg{
        height:300px ;
    }
    .BackgDisplay h2{
        padding-top:1em;
        line-height: 1em;
        font-size: 1em;
    }
    .BackgDisplay p{
        margin:1em;
        margin-bottom: 1em;
    }
    .sameDisplay h2{
        font-size: 1em;
    }
    #portfolio figure{
        width: 100%;
    }
    .hidden{
        display: block;
        opacity: 1;
    }
    #tri{
        display:none;
    }
    .trait_color{
        margin-top:0em;
    }
    .client_lambda{
        padding: 0;
    }
    blockquote p{
        font-size: 1em;
    }
    #section4{
        height:600PX;
    }
}

@media screen and (min-width: 376px) and (max-width: 1024px){

    #burger_content{
        display: none;
    }
    #burger_button, #burger_sidebar,
    .burger_activated #burger_overlay{
        display: block;
    }
    .burger_activated #burger_sidebar{
        transform:translateX(0);
    }
    .courante{
        padding:1em 1em;
    }
}
